#idList {
	border: 1px grey solid;
	border-spacing: 0;
}

#idList tr {
	background-color: #338EFF;
	color: white;
	text-align: center;
}

#idList td, th {
    padding: 5px 20px 5px 20px;
}

#idList tr:hover td {
	background-color:red;
}

td a:visited {
    color: #AAA;
}

td a:link {
    color: white;
}

td a:hover {
    color: blue;
}