body {
    background-color: #333333;
    color: #cecece;
}
body h2 {
    color: #cecece;
}

td {
    border-bottom: 1px solid #ddd;
    text-align: center;
}
th {
    border-bottom: 1.2px solid #b64848;
    text-align: center;
    
}

table.collapse {
    border-spacing:0;
    width: 100%;
}

a:link {
    color: rgb(51, 101, 212);
}

a:visited {
    color: rgb(165, 57, 185);
}

a:hover {
    color: rgb(172, 172, 172);
}